{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "usage",
      "targets": {
        "browsers": [
          "last 2 Chrome version",
          "last 1 Firefox version",
          "last 1 Edge version",
          "last 1 Opera version",
          "last 1 Safari version",
          "last 1 Android version",
          "last 2 ChromeAndroid version",
          "last 1 FirefoxAndroid version",
          "last 1 iOS version"
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]]
  ]
}
